{% extends "base.html" %}
{% block content %}
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="content-heading">
               <i class="fa fa-dashboard">Dashboard</i>
            </div>
            <div class="row">
             <div class="row">
               <div class="col-lg-4 col-md-6">
                  <!-- START widget-->
                  <a href="patient.html">
                  <div class="panel widget bg-success">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-success-dark pv-lg">
                           <i class="fa fa-wheelchair" style="font-size:48px;"></i>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold" id="patientcount"></div>
                           <div class="text-uppercase">Patient</div>
                        </div>
                     </div>
                  </div>
                     </a>
               </div>
               <div class="col-lg-4 col-md-6">
                  <a href="doctor.html">
                  <!-- START widget-->
                  <div class="panel widget bg-danger">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                          <i class="fa fa-user-md" style="font-size:48px;"></i>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold" id="doctorcount"></div>
                           <div class="text-uppercase">Doctor</div>
                        </div>
                     </div>
                  </div>
                     </a>
               </div>
                  <div class="col-lg-4 col-md-6">
                  <a href="appointment.html">
                  <!-- START widget-->
                  <div class="panel widget bg-primary">
                     <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                           <em class="icon-pencil fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                           <div class="h1 m0 text-bold" id="appointmentcount"></div>
                           <div class="text-uppercase">Appointment</div>
                        </div>
                     </div>
                  </div>
                     </a>
               </div>



            </div>

         </div>
      </section>

{% endblock %}